@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
}
.header{
    padding: 1rem 0 1rem 0;
    font-size: 28px;
    background-color: rgba(255, 255, 0, 0.651);
    font-family: "Roboto";
}

.container{
    max-width: 880px;
    margin: auto;
}
.main{
    margin-top: 1.5rem;
}
.main__btn{
    width: 100%;
    height: 40px;
    background-color: rgb(174, 226, 85);
    outline: none;
}
.main__btn:hover{
    cursor: pointer;
}
.material-icons.md-32 { font-size: 32px; }

#main__bloco-notas{
    width: 100%;
}
.box-titulo{
    padding: 1rem;
    padding-left: 0;
    font-size: 2rem;
    font-family: 'Roboto';
    font-weight: 300;
}
.fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(0,0,0,.6);
    z-index: 5;
}
.fade,.nota-complete{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}
.nota-complete{
    position: fixed;
    z-index: 10;
    left: 50%;
   transform: translate(-50%,-50%);
}
/* .nota-complete div{
    display: flex;
} */
.input{
    width: 580px;
    height: 30px;
    background-color: white;
}
#input-text{
    height: 100px;
}

.nota-complete.hide,.fade.hide{
    opacity: 0;
    pointer-events: none;
}
.nota-titulo{
    display: flex;
    justify-content: space-between;
}
.texto-titulo:hover{
    cursor: pointer;
}